
<!-- Inicio Galeria -->

<div class="container text-center" id="carosel">
    <h2 class="mx-auto mt-5 mb-5">
        Galeria do PEQUITEC
    </h2>
    <div class="row">
        <div class="col-md-4">
            <br />
            <div class="row">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Estrutura Física</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="~/Content/img/imgPequitec/DSC_2632.jpg" alt="Estrutura">
                                </div>
                                <div class="item">
                                    <img src="~/Content/img/imgPequitec/SiteEmConstrucao.png" alt="Estrutura" />
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="fa fa-angle-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="fa fa-angle-right"></span>
                            </a>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.col -->
            </div>
            <br />
        </div>
        <div class="col-md-4">
            <br />
            <div class="row">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Laboratório</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic2" data-slide-to="1" class=""></li>
                                <li data-target="#carousel-example-generic2" data-slide-to="2" class=""></li>
                                <li data-target="#carousel-example-generic2" data-slide-to="3" class=""></li>
                                <li data-target="#carousel-example-generic2" data-slide-to="4" class=""></li>
                                <li data-target="#carousel-example-generic2" data-slide-to="5" class=""></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="~/Content/img/imgPequitec/SAM_6649.JPG" alt="Laboratório">
                                </div>
                                <div class="item">
                                    <img src="~/Content/img/imgPequitec/SAM_6651.JPG" alt="Laboratório" />
                                </div>
                                <div class="item">
                                    <img src="~/Content/img/imgPequitec/DSC_2328.jpg" alt="Laboratório">
                                </div>
                                <div class="item">
                                    <img src="~/Content/img/imgPequitec/DSC_2338.jpg" alt="Laboratório" />
                                </div>
                                <div class="item">
                                    <img src="~/Content/img/imgPequitec/DSC_2462.jpg" alt="Laboratório">
                                </div>
                                <div class="item">
                                    <img src="~/Content/img/imgPequitec/DSC_2464.jpg" alt="Laboratório">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic2" data-slide="prev">
                                <span class="fa fa-angle-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic2" data-slide="next">
                                <span class="fa fa-angle-right"></span>
                            </a>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.col -->
            </div>
            <br />
        </div>
        <div class="col-md-4">
            <br />
            <div class="row">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Equipe</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div id="carousel-example-generic3" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic3" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic3" data-slide-to="1" class=""></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="~/Content/img/imgPequitec/SiteEmConstrucao.png" alt="Equipe">
                                </div>
                                <div class="item">
                                    <img src="~/Content/img/imgPequitec/SiteEmConstrucao.png" alt="Equipe" />
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic3" data-slide="prev">
                                <span class="fa fa-angle-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic3" data-slide="next">
                                <span class="fa fa-angle-right"></span>
                            </a>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.col -->
            </div>
            <br />
        </div>
    </div>
</div>

<!-- Fim Galeria -->
