<section class="content-section" id="comoIngressar">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2 class="mb-5">Por que e como se Instalar</h2>
                <p class="lead mb-5 text-justify" style="text-indent: 50px">
                    Localizado no Centro Universitário ITPAC, no município de Araguaína-TO, o Parque de Empreendedorismo, qualificação e inovação tecnológica - PEQUI TEC oferece um ambiente favorável a sinergia entre as empresas, centro universitário e instituições, além de uma infraestrutura física de alta qualidade, laboratórios, localização geográfica privilegiada (no centro do Brasil) e um moderno, transparente e eficiente modelo de gestão possibilitam ao Parque apresentar as empresas e instituições parceiras todas as condições para o desenvolvimento pleno de suas atividades, incluindo assistência para captação de recursos  junto a agências financiadoras de projeto.
                </p>
                <p class="lead mb-5 text-justify" style="text-indent: 50px">
                    O Parque Tecnológico oferece áreas para a implantação de centros de desenvolvimentos tecnológico, instalação de Micro, pequenas e médias empresas; pré incubação de e incubação para empresas nascentes. O Parque realiza eventos voltados a inovação  e empreendedorismo, oferecendo às empresas e instituições parceiras um ambiente dinâmico, inovador e voltado a resultados.
                </p>
                <p class="lead mb-5 text-justify" style="text-indent: 50px">
                    Entre em contato e traga seu empreendimento para esse ambiente favorável ao pleno desenvolvimento do seu negócio.
                </p>
            </div>
        </div>
    </div>
</section>
