<div class="container" id="contatos">
    <div class="row">
        <div class="container text-center">
            <div class="section-header  mt-5">
                <h3>Entre em Contato</h3>
                <br><br>
            </div>
            <div class="row contact-info">

                <div class="col-md-6">
                    <i class="fa fa-phone fa-2x"></i>
                    <div class="contact-phone">
                        <i class="ion-ios-telephone-outline"></i>
                        <h4>Telefone</h4>
                        <a href="tel: 06334118586">(63) 3411-8586</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <i class="fa fa-envelope fa-2x"></i>
                    <div class="contact-email">
                        <i class="ion-ios-email-outline"></i>
                        <h4>E-mail</h4>
                        <p><a href="mailto:pequitec@itpac.br">pequitec@itpac.br</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script src="~/Content/js/plugins/bootstrap/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap.bundle.min.js"></script>
<script src="~/Scripts/jquery.easing.min.js"></script>
<script src="~/Scripts/stylish-portfolio.min.js"></script>
<script src="~/Content/js/adminlte.js"></script>*@

