
<section class="content-section  bg-blue-active" id="historia">
    <div class="container text-center">
        <h2 class="mx-auto mb-5">
            História!
        </h2>
        <div class="col-md-10 mx-auto" style="font-size: 14pt">
            @*<h2>Sobre o PEQUITEC!</h2>*@
            <p class="text-justify" style="text-indent: 50px">
                A história do PEQUITEC começa em março de 2016 quando o ITPAC, que ainda era somente uma faculdade, criou um departamento denominado de NIT (Núcleo de Inovação Tecnológica) que era focado principalmente na proteção do conhecimento e transferências de tecnologia.
            </p>
            <p class="text-justify" style="text-indent: 50px">
                Como resultado deste setor, em fevereiro de 2017, o ITPAC registrou sua primeira patente. O OSBB trata-se de uma chapa de compensado, desenvolvido por professores e estudantes do curso de Engenharia Civil, que se utiliza de fibras do coco de babaçu para dar mais durabilidade e menor custo para o produto.
            </p>
            <p class="text-justify" style="text-indent: 50px">
                Ainda em fevereiro de 2017, foi aprovada a criação do Núcleo de Empreendedorismo, Tecnologia e Inovação (NETI) - um novo setor que viria a substituir o NIT. Essa evolução aconteceu decorrente do amadurecimento da cultura empreendedora e inovadora iniciada pelo NIT. Neste novo setor, além da proteção do conhecimento e transferências de tecnologia, novas frentes de atuação foram criadas, como: captação de recursos, fomento a startups, criação de redes de cooperação e educação empreendedora.
            </p>
            <p class="text-justify" style="text-indent: 50px">
                Em outubro de 2017 o NETI já estava consolidado no Centro Universitário ITPAC. Prova disso foi o fato do Núcleo ter se associado à ANPROTEC (Associação Nacional de Entidades Promotoras de Empreendimentos Inovadores) e ter seu case de sucesso aprovado como artigo para Conferência Nacional da ANPROTEC em 2017 - a RIO +30.
            </p>
            <p class="text-justify" style="text-indent: 50px">
                No final de 2017, identificou-se o Ecossistema de Inovação do Centro Universitário ITPAC já havia evoluído, isto é, já havia elementos para que o NETI se transformasse em um Parque Tecnológico. E assim, em janeiro de 2018, em reunião do Conselho Superior, foi aprovada a criação do PEQUITEC.
            </p>
        </div>
    </div>
</section>
