<section class="content-section bg-blue-active text-center" id="logos">
    <div class="container">
        <div class="content-section-heading">
            <h2 class="mb-5">Quem está no parque</h2>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-screen-smartphone"></i>
                </span>
                <h4>
                    <strong>NERDS</strong>
                </h4>
                <p class="mb-0">Núcleo de Ensino e Residência em Desenvolvimento de Software</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-lg-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-lock"></i>
                </span>
                <h4>
                    <strong>NURSE</strong>
                </h4>
                <p class="mb-0">Núcleo de Redes e Segurança</p>
            </div>
            <div class="col-lg-4 col-md-6">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-energy"></i>
                </span>
                <h4>
                    <strong>SINERGIA</strong>
                </h4>
                <p class="mb-0">Empresa Júnior que presta serviços e consultorias na área de engenharia elétrica</p>
            </div>
            <div class="col-lg-4 col-md-6">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-bulb"></i>
                </span>
                <h4>
                    <strong>Chocadeira de Idéias</strong>
                </h4>
                <p class="mb-0">Incubadora de empresas e pré-incubadora de ideias</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-chemistry"></i>
                </span>
                <h4>
                    <strong>Laboratório de criação</strong>
                </h4>
                <p class="mb-0">Laboratório multidisciplinar que oferece recursos avançados para projetos de criação</p>
            </div>
            <div class="col-lg-4 col-md-6 mb-5 mb-md-0">
                <span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-home"></i>
                </span>
                <h4>
                    <strong>Fundação Nicolau Esteves</strong>
                </h4>
                <p class="mb-0"></p>
            </div>
        </div>
    </div>
</section>

