
<section class="content-section" id="organograma">
    <div class="container">
        <div class="content-section-heading text-center">
            <h2 class="mb-0">Organograma</h2>
        </div>
        <div class="container-fluid" style="margin-top:20px">
            <div class="row">
                <div class="col-md-12">
                    <div class="tree">
                        <ul>
                            <li>
                                <a id="modalShow1" class="text-center">

                                    <div class="container-fluid">
                                        <div>
                                            <h4>Conselho</h4>
                                        </div>
                                    </div>

                                </a>
                                <ul>
                                    <li>
                                        <a id="modalShow2" class="text-center">

                                            <div class="container-fluid">
                                                <div>
                                                    <h4>Diretoria</h4>
                                                </div>
                                            </div>

                                        </a>
                                        <ul>
                                            <li>
                                                <ul>
                                                    <li>
                                                        <a id="modalShow3" class="text-center">

                                                            <div class="container-fluid">
                                                                <div>
                                                                    <h4>CETI</h4>
                                                                </div>
                                                            </div>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a id="modalShow4" class="text-center">

                                                            <div class="container-fluid">
                                                                <div>
                                                                    <h4>AGITTO</h4>
                                                                </div>
                                                            </div>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a id="modalShow5" class="text-center">

                                                            <div class="container-fluid">
                                                                <div>
                                                                    <h4>CIRC</h4>
                                                                </div>
                                                            </div>

                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a id="modalShow6" class="text-center">

                                                            <div class="container-fluid">
                                                                <div>
                                                                    <h4>CISC</h4>
                                                                </div>
                                                            </div>

                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a class="text-center">

                                                    <div class="container-fluid">
                                                        <div>
                                                            <h4>Assessoria Administrativa</h4>
                                                        </div>
                                                    </div>

                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Organograma Modals -->
        <!-- Modal 1 -->
        <div class="modal fade" id="organogramaModal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body col-md-12">
                        <div class="form-actions no-color">
                            <div class="text-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Conselho</h2>
                            <p class="text-justify">O Conselho Diretor tem as seguintes atribuições: zelar pelo cumprimento dos princípios estabelecidos neste Regimento; aprovar os editais para a admissão dos empreendimentos no Parque; homologar a admissão de empreendimentos; apreciar e submeter às instâncias competentes do UNITPAC os modelos de contratos a serem celebrados com os ocupantes para uso de áreas no Parque; aprovar as regulamentações necessárias à operacionalidade do Parque; promover periodicamente, em prazos não superiores a três anos, novas avaliações do valor locativo dos terrenos e de espaços edificados pelo Parque; aprovar o planejamento físico-financeiro anual do Parque; aprovar a criação de estruturas de apoio consideradas necessárias e convenientes ao desempenho das tarefas do Comitê Gestor; deliberar sobre o relatório anual de atividades de cada um dos empreendimentos do Parque; incluir no relatório anual de gestão do campus, o relatório técnico e financeiro do Parque; propor modificações do presente Regimento.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 2 -->
        <div class="modal fade" id="organogramaModal2">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-actions no-color">
                            <div class="text-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Diretoria</h2>
                            <p class="text-justify">A diretoria tem as seguintes atribuições: zelar pelo cumprimento dos princípios estabelecidos neste Regimento; aprovar os editais para a admissão dos empreendimentos no Parque; homologar a admissão de empreendimentos; apreciar e submeter às instâncias competentes do UNITPAC os modelos de contratos a serem celebrados com os ocupantes para uso de áreas no Parque aprovar as regulamentações necessárias à operacionalidade do Parque; promover periodicamente, em prazos não superiores a três anos, novas avaliações do valor locativo dos terrenos e de espaços edificados pelo Parque; aprovar o planejamento físico-financeiro anual do Parque; aprovar a criação de estruturas de apoio consideradas necessárias e convenientes ao desempenho das tarefas do Comitê Gestor; deliberar sobre o relatório anual de atividades de cada um dos empreendimentos do Parque; incluir no relatório anual de gestão do campus, o relatório técnico e financeiro do Parque; propor modificações do presente Regimento.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 3 -->
        <div class="modal fade" id="organogramaModal3">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-actions no-color">
                            <div class="text-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">CETI</h2>
                            <p class="text-justify">O CETI (Centro de Empreendedorismo, Tecnologia e Inovação) é considerado o “braço” operacional do Pequi Tec e atua nas ações de fomento ao empreendedorismo para toda comunidade acadêmica, geração de fontes alternativas de receita e aplicação das políticas institucionais de empreendedorismo, tecnologia e inovação.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 4 -->
        <div class="modal fade" id="organogramaModal4">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-actions no-color">
                            <div class="text-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">AGITTO</h2>
                            <p class="text-justify">A AGITTO (Agência de Inovação e Tecnologia do Tocantins) atua na captação de recursos, escrita e acompanhamento de projetos, aplicação de recursos captados, propriedade intelectual (por exemplo, registro de patentes) e transferência de tecnologia (comercialização de produtos patenteados).</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 5 -->
        <div class="modal fade" id="organogramaModal5">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-actions no-color">
                            <div class="text-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">CIRC</h2>
                            <p class="text-justify">O CIRC (Centro de Internacionalização e Redes de Cooperação) tem como objetivo propor e implantar uma política de internacionalização, fomentar a criação de redes de cooperação e estabelecer termos de cooperação para empreendedorismo, tecnologia e inovação.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal 6 -->
        <div class="modal fade" id="organogramaModal6">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="form-actions no-color">
                            <div class="text-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                            </div>
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">CISC</h2>
                            <p class="text-justify">A CISC (Coordenação de Incubadoras, Coworking, Startups) é a coordenação responsável pelo planejamento, execução, monitoramento e controle de Incubadoras, Coworking e acompanhamento de Startups</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>       
    </div>
</section>
<script type="text/javascript">
    $(function () {
        $("#modalShow1").click(function () {
            $("#organogramaModal1").modal("show");
        });
        $("#organogramaModal1").on("hidden.bs.modal", function () {
            $("#page-top").removeAttr("style", "padding-right");
        });
        $("#modalShow2").click(function () {
            $("#organogramaModal2").modal("show");
        });
        $("#organogramaModal2").on("hidden.bs.modal", function () {
            $("#page-top").removeAttr("style", "padding-right");
        });
        $("#modalShow3").click(function () {
            $("#organogramaModal3").modal("show");
        });
        $("#organogramaModal3").on("hidden.bs.modal", function () {
            $("#page-top").removeAttr("style", "padding-right");
        });
        $("#modalShow4").click(function () {
            $("#organogramaModal4").modal("show");
        });
        $("#organogramaModal4").on("hidden.bs.modal", function () {
            $("#page-top").removeAttr("style", "padding-right");
        });
        $("#modalShow5").click(function () {
            $("#organogramaModal5").modal("show");
        });
        $("#organogramaModal5").on("hidden.bs.modal", function () {
            $("#page-top").removeAttr("style", "padding-right");
        });
        $("#modalShow6").click(function () {
            $("#organogramaModal6").modal("show");
        });
        $("#organogramaModal6").on("hidden.bs.modal", function () {
            $("#page-top").removeAttr("style", "padding-right");
        });
    });
</script>