 <!-- Services -->
<section class="content-section text-center  bg-blue-active" id="projetos">
    <div class="container">
        <div class="content-section-heading">
            <h2 class="mb-5">Projetos</h2>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                @*<span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-screen-smartphone"></i>
                </span>*@
                <h4>
                    <strong>Maratona de Inovação</strong>
                </h4>
                <p class="mb-0">Evento voltado para a inovação dos acadêmicos e comunidade, onde é apresentado uma situação problema do comercio ou industria local e as equipes buscam formas inovadoras e viaveis para a solução da problemática apresentada.</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                @*<span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-mustache"></i>
                </span>*@
                <h4>
                    <strong>Meetups</strong>
                </h4>
                <p class="mb-0">Encontros voltados para o networking entre profissionais do mercado local e acadêmicos do Centro Universitário - ITPAC.</p>
            </div>

            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                @*<span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-mustache"></i>
                </span>*@
                <h4>
                    <strong>Seminário de Inovação</strong>
                </h4>
                <p class="mb-0">Seminário com o foco na inovação dentro das diversas áreas acadêmicas, com abordagem de profissionais gabaritados e inovadores na execução da sua formação profissional.</p>
            </div>
            <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                @*<span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-pencil"></i>
                </span>*@
                <h4>
                    <strong>Oficinas de Canvas e MVP</strong>
                </h4>
                <p class="mb-0">Oficinas voltadas para os empreendedores, onde são trabalhadas  as ferramentas de modelagem de negócios e a elaboração de um mínimo produto viável para os testes de aceitação e aplicação no mercado .</p>
                <br />
                <br />
            </div>
            
            
            <div class="col-lg-6 col-md-6 mb-5 mb-md-0">
                @*<span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-like"></i>
                </span>*@
                <h4>
                    <strong>Oficinas de Elaboração de Projetos</strong>
                </h4>
                <p class="text-faded mb-0">
                </p>
            </div>

            <div class="col-lg-6 col-md-6 mb-5 mb-md-0">
                @*<span class="service-icon rounded-circle mx-auto mb-3">
                    <i class="icon-like"></i>
                </span>*@
                <h4>
                    <strong>Apoio ao Araguaína Startup Weekend</strong>
                </h4>
                <p class="text-faded mb-0">
                </p>
            </div>
        </div>
    </div>
</section>
