
<section class="content-section  bg-blue-active" id="sobre">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h2 class="mb-5">Sobre o PEQUITEC!</h2>
                <p class="lead mb-5 text-justify" style="text-indent: 50px">
                    O PEQUITEC, primeiro Parque Tecnológico do Norte do Tocantins, é uma das demonstrações de como o Centro Universitário ITPAC apoia e aposta no Empreendedorismo e Inovação como forma de promover o desenvolvimento regional a partir do ensino, pesquisa e extensão.
                </p>
                <p class="lead mb-5 text-justify" style="text-indent: 50px">
                    O parque consiste em um empreendimento promotor da cultura da Inovação, da competitividade, do aumento da capacidade empresarial, fundamentado na transferência de conhecimento e tecnologia, com o objetivo de incrementar a produção de riqueza da comunidade.
                </p>
                <p class="lead mb-5 text-justify" style="text-indent: 50px">
                    Trata-se de um ambiente que está instalado dentro do Centro Universitário ITPAC desenvolvido para que empresas, indústrias e empreendedores possam desenvolver pesquisas e negócios em um ambiente que congrega professores, estudantes e a comunidade.
                </p>
                <p class="lead mb-5 text-justify" style="text-indent: 50px">
                    O Parque tem por objetivo a promoção do desenvolvimento científico e tecnológico sustentável da região em que está instalado o campus do UNITPAC, agindo para:
                </p>
            </div>
        </div>
    </div>
</section>
